@model Lab3.Models.Doctor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Doctor</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
        @Html.ActionLink("Add Patient", "AddPatient", new { id = Model.Id }, new { @class = "btn btn-success" })
        </div>
    </div>
    <dl class="row">   
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            Hospital:
        </dt>
        <dd class="col-sm-10">
            @ViewBag.HospitalName
        </dd>
        <dt class="col-sm-2">
            Hospital Address:
        </dt>
        <dd class="col-sm-10">
            @ViewBag.HospitalAddress
        </dd>      
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
