@model IEnumerable<Lab3.Models.ListDoctorsModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Doctor.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor.Phone)
            </th>
            <th>Hospital name</th>
            <th>Hospital address</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Doctor.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Doctor.Address)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Doctor.Phone)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Hospital.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Hospital.Address)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Doctor.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Doctor.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Doctor.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
